@media screen and (min-width: 1024px) {
    nav {
      background-color: red;
      padding-left: 2rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    h1 {
      color: white;
    }

    .div2 {
      background-color: yellow;
      padding-top: 1rem;
      padding-bottom: 6rem;
    }

    .div3 {
      background-color: orange;
      padding-top: 1rem;
      padding-bottom: 6rem;
    }

    .div4 {
      background-color: green;
      padding-top: 1rem;
      padding-bottom: 6rem;
    }

    h2 {
      padding-left: 2rem;
    }

    p {
      padding-left: 2rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
      background-color: red;
      flex-direction: center;
    }
  }